apiVersion: apps/v1
kind: Deployment

metadata:
  name: auth
  labels:
    app: auth

spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2
  template:
    metadata:
      labels: 
        app: auth
    spec:
      containers:
        - name: auth
          image: zoeharris168/auth
          ports:
            - containerPort: 5000
          resources:
            requests:
              cpu: "5m"
              memory: "32Mi"
            limits:
              cpu: '25m'
              memory: "64Mi"
          envFrom:
            - configMapRef:
                name: auth-configmap
            - secretRef:
                name: auth-secret